*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 74px;
    
}
.menu{
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.menu img{
    width: 150px;
    height: 31px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 15px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.menu i{
    margin-right: 10px;
    font-size: 30px;
}
.btn{
    padding: 15px 32px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(to right top,#fdb084,#ff9870,#ff7e62,#ff5f59,#ff3656);
    color: white;
}
.right{
    display: flex;
}
.right i{
    margin: 10px 20px 0 0;

}
.right a{
    text-decoration: none;
}
.main{
    width: 100%;
    height: auto;
    display: flex;
}
.content{
    background-image: url(Aesthetic-fall-autumn-computer-wallpaper-backgrounds-desktop-31.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}
.content .text{
    padding-top: 250px;
    padding-left: 250px;
    margin: 25px;
}
.content h1{
    font-size: 60px;
    margin-bottom: 16px;
    color: #202647;
    text-transform: capitalize;
}
.content p{
    margin-bottom: 15px;
    line-height: 1.6;
    color: #6b6b84;
    font-weight: 400;
    font-family: DM Sans,sans-serif;
    font-size: 16px;
}

.hero{
    width: 50%;
}
.hero img{
    width: 100%;
    height: 816px;
}
.container{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container .box{
    margin: 12px;
    width: 330px;
    width: 285px;
    padding: 35px 20px;
    border: 1px solid red;
    border-radius: 5px;
}

.container .box .fa-solid{
    font-size: 50px;
    color: #f64c67;
    line-height: 1;
    margin-bottom: 25px;
}
.container .box h3{
    color: #202647;
     margin-bottom: 15px;
}
.container .box p{
    line-height: 1.6;
    color: #6b6b84;
    font-weight: 400;
    font-family: DM Sans,sans-serif;
    font-size: 18px;
}
.container .box:hover{
    background: linear-gradient(to right top,#fdb084,#ff9870,#ff7e62,#ff5f59,#ff3656);
    transition:0.15s;
    cursor: pointer;
  
}

.section{
    width: 100%;
    height: 1070px;
    text-align: center;
}
 small{
      font-size: 20px;
      text-transform: uppercase;
      color: #fd9b5f;
}
 h1{
    font-size: 50px;
    margin-bottom: 85px;
    line-height: 1.6;
    color: #202647;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3,440px);
    justify-content: center;
    align-items: center;
    gap: 20px;
   
}

.template{
    width: 440px;
    height: 395px;
    border: 1px solid red;
    border-radius: 5px;
}

.template .icon{
   font-size: 80px;
   margin-top: 20px;
   background: linear-gradient(to right top,#fdb084,#ff9870,#ff7e62,#ff5f59,#ff3656);
   color: white;
    
}
.template h3{
    font-size: 24px;
    padding-top: 40px;
}
.template p{
    line-height: 1.6;
    color: #6b6b84;
    font-weight: 400;
    font-family: DM Sans,sans-serif;
    font-size: 18px;
    padding: 40px;
}
.template a{
    text-decoration: none;
    color: orangered;
    font-size: 20px
}
.wrapper{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.wrapper .image{
    width: 50%;
    height: auto;
  
}
.wrapper img{
   width: 636px;
    height: 380px;
    padding-left: 250px;
}
.wrapper .about{
     width: 50%;
     height: auto;
}
.wrapper .aboutus{
    width: 636px;
    height: 380px;
}
.aboutus h3{
    color: #fd9b5f;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.aboutus h2{
    font-size: 38px;
    margin: 0 0 15px;
    color: #202647;
    text-transform: capitalize;
    margin-bottom: 25px;
}

.aboutus p{
    color: #6b6b84;
    margin: 15px 0 0;
    line-height: 1.6;
    color: #6b6b84;
    font-family: DM Sans,sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
}
.aboutus b{
    color: #6b6b84;
}
.portfolio-area{
    text-align: center;
}
.slider{
    width: 100%;
    height: 507px;
    display: flex;
    flex-wrap: wrap;
}
.showcase{
width: 445px;
height: 447px;
margin: 15px;
}
.showcase img{
   width: 445px;
   height: 342px;
  
}
.showcase h2{
    margin-bottom: 5px;
    font-size: 20px;
    color: #202647;
}
.showcase span{
    color: #fd9b5f;
    font-size: 15px;
}
.info{
    padding: 25px 20px;
    border: 1px solid #fbe4d4;
}
.info:hover{
    background: linear-gradient(to right top,#fdb084,#ff9870,#ff7e62,#ff5f59,#ff3656);
}
.pricing-area{
    width: 100%;
    height: 800px;
    text-align: center;
}
.pricing-container{
    width: 100%;
    height: 486px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.pricing-box{
    width: 380px;
    height: 445px;
    margin-bottom: 30px;
    padding: 40px;
    border-radius: 5px;
    border: 1px solid #fbe4d4;
    background-color: #fff;
    text-align: left;
      margin: 15px;
}
.pricing-box ul{
    list-style: none;
}
.pricing-box ul li{
    text-transform: capitalize;
    font-size: 18px;
     margin-bottom: 15px;
}
.pricing-box h3{
    font-size: 18px;
     color: #202647;
     margin-bottom: 15px;
}
.pricing-box .price{
    font-size: 36px;
    color: #f64c67;
   margin-bottom: 15px;
}

.pricing-box .fa-check{
    color: #6ac04f;
    font-size: 22px;
   
    
}
.pricing-box .fa-xmark{
    color: #f64c67;
    font-size: 22px;
   

    
}
.flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.btn2{
    margin-top: 25px;
    padding: 15px 32px; 
    border-radius: 50px;
    border: none;
    background: linear-gradient(to right top,#fdb084,#ff9870,#ff7e62,#ff5f59,#ff3656);
    color: white;
}
.profile{
    text-align: center;
}

.profile h1{
    margin-bottom: 60px;
}
.members{
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.team{
width: 432px;
height: 535px;
margin: 15px;
border: 1px solid #fbe4d4;
}
.team img{
   width: 432px;
   height: 432px;
  
}
.team h2{
    margin-bottom: 5px;
    font-size: 20px;
    color: #202647;
}
.team span{
    color: #f64c67;
    font-size: 15px;
}
.info{
    padding: 25px 20px;
   
}
.industies{
    width: 100%;
    height: 588px;
   
}
.industies-container{
    width: 100%;
    height: 588px;
    padding-top: 100px;
    text-align: center;
    background: linear-gradient(to right top,#ffbac3,#ffc4c3,#ffcec5,#ffd7ca,#fee1d2);
}
.row{
    height: auto;
    display: grid;
    grid-template-columns: repeat(4,306px);
    gap: 15px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
}
.industries-box{
    width: 306px;
    height: 91px;
    border: none;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: white;
}
.industries-box h3{
    font-size: 20px;
    margin-top: 25px;

}
.industries-box i{
    font-size: 30px;
    margin-left: 30px;
    color: #f64c67;
}
.industries-box:hover{
    background: linear-gradient(to right top,#fdb084,#ff9870,#ff7e62,#ff5f59,#ff3656);
    color: white;
    transition: 0.15s;
}
.company{
    height: 357px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.company div{
    height: 157px;
    margin: 35px;
}
.company div img{
    width: 150px;
    height: 157px;
}

.subscribe{
    width: 100%;
    height: 450px;
    background: linear-gradient(to right top,#fdb084,#ff9870,#ff7e62,#ff5f59,#ff3656);
}
.subscribe-content{
    text-align: center;
    max-width: 835px;
    margin: auto;
    padding-top: 100px;
}
.subscribe-content span{
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    display: block;
}
.subscribe-content h2{
    color: #fff;
    margin-top: 15px;
    font-size: 48px;
}
form{
    margin-top: 35px;
    position: relative;
}
form input{
    display: block;
    width: 100%;
    background-color: #fff;
    border: none;
    height: 65px;
    padding-left: 25px;
    border-radius: 10px;
    color: #202647;
   
}
form button{
    background: linear-gradient(to right top,#fdb084,#ff9870,#ff7e62,#ff5f59,#ff3656);
    color: #fff;
    border: none;
    height: 55px;
    padding: 0 40px;
    border-radius: 10px;
    transition: .5s;
    line-height: 55px;
    font-size: 15px;
    position: absolute;
    top: 4px;
    right: -20px;
}
form button:hover{
    box-shadow: -10px 15px 10px rgba(0, 0, 0, 0.651);
}
